@{
    Layout = null;
}
<div class="modal fade" id="terms-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Условия участия в фотосессии*
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="terms-b">
                    <p>
                        <ul class="list-unstyled">
                            <li>Услуги визажиста: макияж, аквагрим от 700 руб.</li>
                            <li>Стилист (по прическе) от 500 руб.</li>
                            <li>Цена за фотосессию индивидуальная.</li>
                        </ul>
                    </p>
                    <hr />
                    <span>Фотограф</span>
                    <p>
                        <span>
                            <a class="" href="//vk.com/id2069565">
                                vk.com: Михаил Шатихин
                            </a>
                            <br />
                            почта: <a href="mailto:mshatikhin@gmail.com">mshatikhin@gmail.com</a>
                            <br />
                            тел.: 8(912)043-98-27
                        </span>
                    </p>
                    <span>Визажист</span>
                    <p>
                        <span>
                            <a class="" href="//vk.com/id13083167">
                                vk.com: Татьяна Шатихина
                            </a>
                            <br />
                            почта: <a href="mailto:smith8tanya@gmail.com">smith8tanya@gmail.com</a>
                        </span>
                    </p>
                    <br />
                    <p>Соблюдение авторских прав. С момента участия в фотосессии исключительные права на фотографии остаются у фотографа.</p>
                    <hr />
                    <p>* необработанные фотографии не высылаются.</p>
                    <p>** кадрирование, коррекция цветовой гаммы, ретушь, стилизация</p>
                    <p>
                        Внимание: все материалы/статьи (включая любые текстовые и графические элементы), размещенные на данном сайте, являются результатом труда и собственностью создателей сайта. Копирование, в том числе частичное, запрещено. Нарушение авторских прав контролируется и преследуется по закону.
                    </p>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

