<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Title" value="Михаил Шатихин"/>
  <add key="AuthorBlog" value="Шатихин Михаил" />
  <add key="PhotosVirtualPath" value="/VirtualPhotos/" />
  <add key="VirtualPathRootName" value="VirtualPhotos" />
  <add key="SiteName" value="mshatikhin.ru" />
  <add key="SystemAlbumName" value="System" />
  <add key="PictureOfTheDayAlbumName" value="PictureOfTheDay" />
  <add key="CatalogPortfolioName" value="1" />
  <add key="SiteUrl" value="http://mshatikhin.ru" />
</appSettings>