<section id="promo" class="promo">
    <div class="promo__logo-wrapper">
        <a href="/">
            <div class="promo__logo"></div>
        </a>
    </div>
    <div class="promo__nav">
        @Html.Partial("_MenuNav")
    </div>
    <div class="promo__wrapper">
        <div class="promo__title">
            MIKHAIL&nbsp;SHATIKHIN
        </div>
        <ul class="promo__title-description">
            <li class="promo__title-description-item">web-developer</li>
            <li class="promo__title-description-item">traveler</li>
            <li class="promo__title-description-item">photographer</li>
        </ul>
    </div>
    <div class="promo__bg"></div>    
</section>