@using PhotoBlogApp.Models.ClientModels
<div class="container">
    <div class="footer__copyright">
        <a class="footer__link" title="Сайт разработан Михаилом Шатихиным" href="//vk.com/id2069565">
            &copy;&nbsp;2015 сделано с любовью&nbsp;<img class="footer__heart" width="16" height="16" src="~/Content/img/heart.png" />
        </a>
    </div>
    <div class="footer__text-info" title="Внимание: все материалы/статьи (включая любые текстовые и графические элементы), размещенные на данном сайте, являются результатом труда и собственностью создателей сайта. Копирование, в том числе частичное, запрещено. Нарушение авторских прав контролируется и преследуется по закону.">
        <ul>
            <li>
                <span class="age-control">18+</span>
            </li>
            <li>
                <a class="footer__link" href="#/mention">оставить отзыв</a>
            </li>
            <li>
                <a class="footer__link" href="#/request">записаться</a>
            </li>
        </ul>
    </div>
</div>




