@model PhotoBlogApp.Models.ClientModels.SocialM
<div class="yashare-auto-init"
     data-yasharel10n="ru"
     data-yasharequickservices="vkontakte,facebook,twitter,gplus"
     data-yasharetheme="counter"
     data-yasharetitle="@Model.Title"
     data-yasharedescription="@Model.Description"
     data-yashareimage="@Model.ImageUrl"
     data-yasharelink="@Model.ShareUrl">
</div>